In [1]:
import scipy
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import interpolate

In [2]:
# The dataset i am using comes from here : https://portal.opentopography.org/datasetMetadata?otCollectionID=OT.072018.6635.1
# this is a lidar scan of Kilauea Volcano in Hawaii
# the overall dataset is large so I have taken just a sample of one of the sides of the volcano
# this data can be found in points.txt

# we are going to be working with an evenly spaced subsample of these points and try to reconstruct the orignal image
# using interpolation (in particular we will apply linear barycentric interpolation)

# importing the subsampled points
df = pd.read_csv("points_subsampled.txt", ' ')

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df = df[df["Z"] >= 500] # this particular dataset has some weird points located below the surface that we would like to remove

In [4]:
coords = df[["X","Y","Z"]] # we are going to isolate the x, y , and z coordinates of our data (since we are going to interpolate the z position based on x and y values)
coords

                   X             Y           Z
3      260716.220001  2.147507e+06  788.320007
4      260721.660004  2.147506e+06  792.869995
5      260718.139999  2.147526e+06  794.429993
6      260720.580002  2.147520e+06  792.830017
7      260723.419998  2.147517e+06  794.330017
...              ...           ...         ...
19859  260686.129997  2.147494e+06  761.690002
19860  260606.179993  2.147638e+06  766.080017
19861  260665.309998  2.147700e+06  869.760010
19862  260677.690002  2.147683e+06  867.549988
19863  260682.550003  2.147642e+06  823.760010

[13475 rows x 3 columns]

In [5]:
# lets get the boundry coordinates of the dataset
xMin = coords['X'].min()
xMax = coords['X'].max()

yMin = coords['Y'].min()
yMax = coords['Y'].max()

# the number of points we have
numPoints = coords.shape[0]

# We are going to refill in points so that we have the same number of points as the original
totalPoints = 533572 - numPoints

In [6]:
# now lets generate a bunch of random x y coordinates within the region that we are going to get z values for by interpolation
new_xs = np.random.uniform(xMin,xMax,totalPoints)
new_ys = np.random.uniform(yMin,yMax,totalPoints)

interp_points = zip(new_xs,new_ys)

In [7]:
# Now that we have generated our set of random points lets interpolate 

# getting original x,y,and z values

x_orig = coords['X'].values
y_orig = coords['Y'].values
z_orig = coords['Z'].values 


# creating the interpolater can choose between a nearest neighbors, barycentric linear, or cubic interpolating bezier polynomials
# interp = interpolate.LinearNDInterpolator(list(zip(x_orig,y_orig)),z_orig)
# interp = interpolate.CloughTocher2DInterpolator(list(zip(x_orig,y_orig)),z_orig)
interp = interpolate.NearestNDInterpolator(list(zip(x_orig,y_orig)),z_orig)

# get the z values for these points
Z = interp(new_xs,new_ys)

In [8]:
new_points = pd.DataFrame({'X' : new_xs, 'Y' : new_ys, 'Z' : Z}) # this is a dataframe consisting of all the new points we generated by interpolation

In [9]:
# quick sanity check to make sure nothing crazy is going on
print("original Medians -> x : {}, y : {}, z : {}".format(coords["X"].median(),coords["Y"].median(),coords["Z"].median()))
print("original Mins -> x : {}, y : {}, z : {}".format(coords["X"].min(),coords["Y"].min(),coords["Z"].min()))
print("original Maxs -> x : {}, y : {}, z : {}".format(coords["X"].max(),coords["Y"].max(),coords["Z"].max()))

print()

print("interpolated value medians -> x : {}, y : {}, z : {}".format(new_points["X"].median(),new_points["Y"].median(),new_points["Z"].median()))
print("interpolated value mins -> x : {}, y : {}, z : {}".format(new_points["X"].min(),new_points["Y"].min(),new_points["Z"].min()))
print("interpolated value maxs -> x : {}, y : {}, z : {}".format(new_points["X"].max(),new_points["Y"].max(),new_points["Z"].max()))

original Medians -> x : 260715.55999756, y : 2147585.73000336, z : 827.15002441
original Mins -> x : 260594.11000061, y : 2147482.95999908, z : 699.90002441
original Maxs -> x : 260822.61000061, y : 2147699.80000305, z : 1002.65997314

interpolated value medians -> x : 260708.18693967003, y : 2147591.3775684703, z : 823.1121807444727
interpolated value mins -> x : 260594.11011660672, y : 2147482.9602430305, z : 700.3140425307566
interpolated value maxs -> x : 260822.609066369, y : 2147699.7989938827, z : 1005.0175362985545

In [10]:
# are numbers look pretty good so lets combine the original data and the new_points

final_result = coords.append(new_points)

final_result

                    X             Y           Z
3       260716.220001  2.147507e+06  788.320007
4       260721.660004  2.147506e+06  792.869995
5       260718.139999  2.147526e+06  794.429993
6       260720.580002  2.147520e+06  792.830017
7       260723.419998  2.147517e+06  794.330017
...               ...           ...         ...
520092  260619.631186  2.147575e+06  747.263564
520093  260801.166924  2.147563e+06  882.402214
520094  260720.486043  2.147549e+06  802.460624
520095  260653.982085  2.147625e+06  785.782576
520096  260699.704493  2.147651e+06  852.508571

[533572 rows x 3 columns]

In [11]:
# checking our results
print("final Medians -> x : {}, y : {}, z : {}".format(final_result["X"].median(),final_result["Y"].median(),final_result["Z"].median()))
print("final Mins -> x : {}, y : {}, z : {}".format(final_result["X"].min(),final_result["Y"].min(),final_result["Z"].min()))
print("final Maxs -> x : {}, y : {}, z : {}".format(final_result["X"].max(),final_result["Y"].max(),final_result["Z"].max()))

final Medians -> x : 260708.39047699276, y : 2147591.2491994016, z : 823.2307760514026
final Mins -> x : 260594.11000061, y : 2147482.95999908, z : 699.90002441
final Maxs -> x : 260822.61000061, y : 2147699.80000305, z : 1005.0175362985545

In [12]:
# writing our result to a csv file so it can be opened up in cloudcompare
final_result.to_csv("final_result_nn.txt",index = False)